@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 0;
	color: #000;
	width: 1000px;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}
a:link {
	color: #FFF;
	text-decoration: underline;
}
a:visited {
	color: #000;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	color: #009;
	text-decoration: none;
}
header {
	background-color: rgba(83,153,222,0.9);
	overflow: hidden;
}
#Logo {
	float:left;
	margin: 20px 115px;
}
h1 {
	text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}
article {
	padding: 10px 0;
	width: 640px;
	float: left;
	clear: left;
}
#Characters {
	-webkit-column-count: 3;
	-webkit-column-gap: 5px;
	column-count: 3;
	column-gap: 5px;
}
#Characters p {
	display:inline-block;
}
aside {
	float: left;
	width: 360px;
	background-color: #FFCF08;
	padding: 10px 0;
}
aside li {
	float: left;
	list-style-type:none;
}
ul.nav {
	list-style: none;
}

ul.nav a, ul.nav a:visited {
	display: block;
	width: 170px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 10px;
	text-decoration: none;
	line-height: 2.5;
	text-align:center;
	background-color: #2DD420;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3A0), to(#2DD420));
	background: -webkit-linear-gradient(top, #3A0, #2DD420);
	background: -moz-linear-gradient(top, #3A0, #2DD420);
	background: -ms-linear-gradient(top, #3A0, #2DD420);
	background: -o-linear-gradient(top, #3A0, #2DD420);
	float: left;
}

footer {
	padding: 10px 0;
	background-color: rgba(83,153,222,0.9);
	position: relative;
	clear: both;
}
address {
	padding: 5px 15px;
}
/* ~~ Miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty block element as the final element following the last floated block (within the .container) if the footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

header, section, footer, aside, article, figure {
	display: block;
}